<!DOCTYPE html>
<html>
	<head>
		<title>MythBusters</title>
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<body>
		<div id="header">
			<h1>Myth Busters DB</h1>
			<h2><%= yield :subtitle %></h2>
			<div class="account menu">
				<% if user_signed_in? %>
					<ul>
						<li>Hello <%= current_user.email %></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
					</ul>
				<% else %>
					<ul>
						<li><%= link_to "Sign up", new_user_registration_path %></li>
						<li><%= link_to "Login", new_user_session_path %></li>
					</ul>
				<% end %>
			</div>
			<p class="notice"><%= notice %></p>
			<p class="alert"><%= alert %></p>
		</div>
		<div id="body">
			<%= yield %>
		</div>
		<div id="footer"></div>
	</body>
</html>
